#row-content {
  height: 100vh;
  
  #col-left {
    height: 100%;
    background-image: url('../../assets/images/sideImage.jpg');
    background-position: center;
    background-size: cover;
  }

  ion-button {
    display: block;
    width: 50%;
    margin: 16px auto;
    --border-radius: 13px;
    --padding-top: 18px;
    --padding-bottom: 18px;
  }

  #criar-conta {
    margin-bottom: 25px;
    --border-radius: 15px;
    --padding-top: 24px;
    --padding-bottom: 24px;
    --background: #159A9C;
  }

  #facebook {
    --background: #005DB4;
  }

  #twitter{
    --background: #00A1FC;
  }

  #google {
    --background: #A03131;
  }
}