<ion-content [fullscreen]="true">
  <ion-row class="ion-align-items-center ion-justify-content-center" id="row-content">
    <ion-col size="6" id="col-left">
    </ion-col>
    <ion-col size="6" id="col-right">
      <ion-row class="ion-justify-content-center">
        <ion-col size="10">
          <ion-text class="ion-text-center">
            <h1>Criar Conta</h1>
          </ion-text>
          
          <div class="ion-margin-vertical">
            <ion-item>
              <ion-input label="Nome"></ion-input>
            </ion-item>
            <ion-item>
              <ion-input label="E-mail" type="email"></ion-input>
            </ion-item>
            <ion-item>
              <ion-input label="Senha" type="password"></ion-input>
            </ion-item>
            <ion-item>
              <ion-input label="Confirmar Senha"  type="password"></ion-input>
            </ion-item>
          </div>

          <ion-button id="criar-conta">Criar conta</ion-button>
          <ion-text class="ion-text-center">
            <p>Logar com</p>
          </ion-text>
          <ion-button id="facebook" shape="round">Facebook</ion-button>
          <ion-button id="twitter" shape="round">Twitter</ion-button>
          <ion-button id="google" shape="round">Google</ion-button>
        </ion-col>
      </ion-row>
    </ion-col>
  </ion-row>
</ion-content>
